html, body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background: #fafafa;
    border-top: 1px solid #2196f3;
    font-size: 16px;
    font-family: 'Lato', sans-serif, Helvetica, Arial;
    color: #9e9e9e;
}

/******************************** Home Page **********************************/

.home-btn-search, .results-btn-search{
    padding: 0.625em 0.75em;
}

.home-container{
	margin-top: 10%;
}

.home-input-search, .results-input-search{
    padding: 0.625em;
}

.home-logo{
	height: 9.5em;
	width: 9.5em;
}

.home-text{
    margin-top: 1em;
}

.home-wh-title{
	color: #666666;
	font-size: 1.85em;
	margin-bottom: 1em;
}

/******************************* Results Page ********************************/

.results-container{
    margin-top: 0.75em;
}

.results-logo{
    height: 2.75em;
    width: 2.75em;
    margin-bottom: 0.5em;
}

.results-workflow{
    margin-bottom: 1.5em;
}

.results-workflow-title{
    display: block;
    font-size: 1.125em;
    font-weight: bold;
}

.results-workflow-url{
    color: #4caf50;
}

.results-workflow-wfms{
    font-size: 0.85em;
    color: #757575;
}

.page-item{
    position: relative;
    float: left;
    padding: .275rem .75rem;
    font-size: .875rem;
    margin-left: -1px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.page-item>a{
    color: #0275d8;
}

.results-tab{
    text-align: center;
    font-size: 14px;
    width: 80px; 
    cursor: pointer;
    display: inline-block;
    padding: 1rem 0px;
    margin-bottom: -1rem;
    margin-right: 1rem;
    color: #9e9e9e;
}

.results-tab:active, .results-tab:focus, .results-tab:hover{
    color: #9e9e9e;
    text-decoration: none;
}

.results-tab-active{
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 0px;
    width: 80px; 
    margin-bottom: -1rem;
    font-weight: bold;
    color: #2196f3;
    border-bottom: 2px solid #2196f3;
}

.results-tab-active:active, .results-tab-active:focus, .results-tab-active:hover{
    color: #2196f3;
    text-decoration: none;
}
